<div style="width:100%" layout="column">
    <md-toolbar layout="row">
        <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
            <span class="visuallyhidden">Menu</span>
        </button>
        <h1>My Favorite Muppets</h1>
                                        <h2>{{_ctrl.name}}</h2>

    </md-toolbar>
    <div layout="row" flex class="content-wrapper">
        <!-- <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"> -->
        
            <md-list class="muppet-list">
                                                    <h2>{{_ctrl.name}}</h2>

                <md-item ng-repeat="it in _ctrl.muppets">
                    <md-item-content>
                        <md-button ng-click="selectMuppet(it)" ng-class="{'selected' : it === selected }">
                            <img ng-src="{{it.iconurl}}" class="face" alt=""> {{it.name}}
                        </md-button>
                    </md-item-content>
                </md-item>
            </md-list>
        <!-- </md-sidenav> -->
        <div layout="column" flex class="content-wrapper" id="primary-col">
            <md-content layout="column" flex class="md-padding">
                <h2>{{_ctrl.selected.name}}</h2>
                <p>{{_ctrl.selected.content}}</p>
                <div class="cell">
                    <img ng-src="{{_ctrl.selected.imgurl}}" alt="{{_ctrl.selected.imgalt}}">
                </div>
            </md-content>
        </div>
    </div>
</div>